/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 21, 2016, 9:57:47 PM
    Author     : QUOC
*/

.row-formanh{
    margin: auto;
    margin-top: 50px;
}

.row-contents{
    width: 960px;
    height: 128px;
}