.login-box{
	position:relative;
	margin: 10px auto;
	width: 500px;
	height: 350px;
	background-color: #fff;
	padding: 10px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}
.u-form-group{
	width:100%;
	margin-bottom: 10px;
}
.u-form-group input[type="input"],
.u-form-group input[type="password"]{
	width: 95%;
	height:45px;
	outline: none;
	border: 1px solid #ddd;
	padding: 0 10px;
	border-radius: 2px;
	color: #333;
	font-size:20px;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	transition:all 0.1s linear;
}
.u-form-group input:focus{
	border-color: #358efb;
}
.u-form-group a p {
	float:right;
	margin-top:5px;
}
.u-form-group button{
	width:50%;
	background-color: #1CB94E;
	border: 1px solid rgba(0,0,0,0.05);

	color: #fff;
	font-size: 14px;
	font-weight: normal;
	padding: 12px;
	padding: 14px 0;
	border-radius: 2px;
	text-transform: uppercase;
	display: inline;
	text-align:center;
}
.has-error{
	color: red;
}
.u-form-group span{
	width:45%;
	position:relative;
	float: left;

	text-decoration: none;
	color: #fff;
	border: 1px solid rgba(0,0,0,0.05);
	padding: 12px;
	border-radius: 2px;
	font-size: 11px;
	text-transform: uppercase;
	margin: 0 0;
	text-align:center;
	
}
.u-form-group  i{
	position: relative;
	float: left;
	width: 20px;
	top: 2px;
	margin-right: 3px;
	
}
.u-form-group span:first-child{
	background-color: #49639F;
	float:right;
	height:15px;
	margin-bottom:10px;
}

.hidden{
	display:none;
}